# FastAPI for the server
fastapi
python-multipart
uvicorn[standard]

# Core Image & AI Libraries
numpy
Pillow
opencv-python-headless
torch
torchvision
gfpgan

# Specific versions to solve library-specific build logic errors
basicsr
realesrgan
onnxruntime-gpu
onnxruntime
